<div class="header-top">
  <h1 class="header1">Mario's</h1>
  <h2 class="header2">Discount Specialty Foods</h2>
  <%= image_tag "mario.png" %>
</div>
<div class="container id="about">
  <div class="row">
    <div class="col-lg-12">
      <h5>Mario's Discount Specialty Foods specializes in specialty foods that are discounted. Mario provides the freshest specialty ingredients at discounted rates. Your teeth will not break when eating Mario's discounted specialty foods from Mario's Discount Specialty Foods.</h5>

      <form>
        <label for="">Search Mario's Products:</label>
        <input type="text" name="search">
        <button type="submit" name="button">go</button>
      </form>

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-6">

      <h1>Products</h1>
      <h4><%= link_to "Create new product", new_product_path %></h4>

      <% if @products.any? %>
      <ul>
        <% @products.each do |product| %>
        <li><%= link_to product.name, product_path(product) %></li>
        <% end %>
      </ul>
      <% else %>
      <p>There are no products yet.</p>
      <% end %>


    </div>

    <div class="col-lg-6">
      colum
    </div>
  </div>
</div>
<hr>




<div class="scope-div">

  <h1>Searh Products made in the USA.</h1>





</div>
